
.App{
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.books{
    display: flex;
    gap: 10px;
}

.book{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: blanchedalmond;
    
}

.delete{
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    color: rgb(239, 135, 135);
    border: 1px solid  rgb(185, 180, 174);

}

.update{
    border: 1px solid rgb(225, 202, 202);
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    color: blueviolet;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 250px;
    padding: 10px;
    border: 1px solid green;
}

.formButton{
border: none;
padding: 10px;
background-color: rgb(245, 109, 109);
color: white;
font-weight: bold;
cursor: pointer;
}